﻿@model MVC.Models.OradorVm

@{
    Layout = null;
    ViewBag.Title = "Nuevo Orador";
}

<h2>Crear</h2>


@using (Html.BeginForm("Create", "Orador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Orador</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cuil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cuil, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Cuil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Genero, Model.Sexos, "[Seleccione sexo]", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProvinciaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProvinciaId, Model.Provincias, "Seleccione una Provincia", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.ProvinciaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CiudadId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CiudadId, Model.Ciudades, "Seleccione una Ciudad", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.CiudadId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-success" id="Aceptar" />

                @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

<script type="text/javascript">

  $(document).ready(function () {

    ////////////////////////////
    ////////Fecha Actual/////////
    ////////////////////////////

    n = new Date();
    //Año
    y = n.getFullYear();
    //Mes
    m = n.getMonth() + 1;
    //Día
    d = n.getDate();

    if (d < 10)
        d = '0' + d; //agrega cero si el menor de 10
    if (m < 10)
        m = '0' + m //agrega cero si el menor de 10

        var fechaActual = y + "-" + m + "-" + d;

          /////////////////////////////
         ////    Restricciones    ////
        /////////////////////////////

        $("#Nombre").blur(function () {

            $("#Nombre").val($.trim($("#Nombre").val()));

        });

        $("#Nombre").keypress(function (e) {

            if ((e.charCode < 97 || e.charCode > 122) && (e.charCode < 65 || e.charCode > 90) && (e.charCode != 32)) return false;
        });

        $("#Apellido").blur(function () {

            $("#Apellido").val($.trim($("#Apellido").val()));

        });

        $("#Apellido").keypress(function (e) {

            if ((e.charCode < 97 || e.charCode > 122) && (e.charCode < 65 || e.charCode > 90) && (e.charCode != 32)) return false;
        });


    $('#Cuil').keypress(function (e) {

        if (e.keyCode == 32) {
            return false;
        }

        if (event.which < 48 || event.which > 57 || this.value.length === 11) {
            return false;
        }
    });

        $("#FechaNacimiento").keypress(function (e) {


            if ((event.which < 97 || event.which > 122) && (event.which < 65 || event.which > 90)) {
                return false;
            }

        });

        $("#FechaNacimiento").change(function () {

            var fecha = $(this).val();

            if (fecha > fechaActual) {

                alert("La fecha de nacimiento (" + fecha + ") no puede ser despues de la fecha de hoy (" + fechaActual + ")")

                $("#FechaNacimiento").val(fechaActual);
            }
        });

    $('#Telefono').keypress(function (e) {

        if(e.keyCode == 32) {
            return false;
        }

        if (event.which < 48 || event.which > 57 || this.value.length === 11) {
            return false;
        }
    });

    $('#Celular').keypress(function (e) {

        if (e.keyCode == 32) {
            return false;
        }

        if (event.which < 48 || event.which > 57 || this.value.length === 10) {
            return false;
        }
    });

        $("#ProvinciaId").change(function () {
            $("#CiudadId").empty();
            $("#CiudadId").append('<option value="">Seleccione una ciudad</option>');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ObtenerCiudades")',
                dataType: 'json',
                data: { provinciaId: $("#ProvinciaId").val() },
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#CiudadId").append('<option value="'
                            + data.Id + '">'
                            + data.Nombre + '</option>');
                    });
                },
            });
            return false;
      })

      $("#Aceptar").click(function () {

          var validarFormCuil = $("#Cuil").val().length // validar Numero valido cuil

          if (validarFormCuil < 11) {
              alert("Debe ingresar un Numero de Cuil Valido")
              return false;
          }

          var validarFormTelefono = $("#Telefono").val().length // validar Numero valido Telefono

          if (validarFormTelefono < 11) {
              alert("Debe ingresar un Numero de Telefono Valido")
              return false;
          }

          var validarFormCelular = $("#Celular").val().length // validar Numero valido Celular

          if (validarFormCelular < 10) {
              alert("Debe ingresar un Numero de Celular Valido")
              return false;
          }

      });

  });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
