﻿@model MVC.Models.Evento.EventoVm

@{
    ViewBag.Title = "AdministrarEvento";
    var numero = 0;
}
<style>
    .vertical {
        border: none;
        border-left: 1px solid hsla(200, 10%, 50%, 100);
        height: 50vh;
        width: 1px;
    }
</style>

<br />
<br />

<div class="container">

    <div class="row">

        <div class="col-md-2">

            <br />

            @{ var dia = @Html.DisplayFor(model => model.FechaInicio.DayOfWeek); }
            @{ var mes = @Html.DisplayFor(model => model.FechaInicio.Month); }

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Evento</strong></h3>
                </div>
                <div class="panel-body">
                    <h5> @Html.DisplayFor(model => model.Nombre) </h5>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Cuando y Donde</strong></h3>
                </div>
                <div class="panel-body">

                    @if (dia.ToString() == "Monday")
                    {

                        if (mes.ToString() == "1")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Enero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "2")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Febrero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "3")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Marzo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "4")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Abril de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "5")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Mayo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "6")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Junio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "7")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Julio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "8")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Agosto de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "9")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Septiembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "10")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Octubre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "11")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Noviembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "12")
                        {
                            <h5 class="text-muted"> Lunes  @Html.DisplayFor(model => model.FechaInicio.Day) de Diciembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                    }

                    @if (dia.ToString() == "Tuesday")
                    {

                        if (mes.ToString() == "1")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Enero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "2")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Febrero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "3")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Marzo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "4")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Abril de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "5")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Mayo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "6")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Junio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "7")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Julio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "8")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Agosto de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "9")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Septiembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "10")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Octubre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "11")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Noviembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "12")
                        {
                            <h5 class="text-muted"> Martes  @Html.DisplayFor(model => model.FechaInicio.Day) de Diciembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }
                    }

                    @if (dia.ToString() == "Wednesday")
                    {

                        if (mes.ToString() == "1")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Enero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "2")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Febrero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "3")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Marzo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "4")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Abril de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "5")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Mayo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "6")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Junio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "7")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Julio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "8")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Agosto de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "9")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Septiembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "10")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Octubre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "11")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Noviembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "12")
                        {
                            <h5 class="text-muted"> Miercoles  @Html.DisplayFor(model => model.FechaInicio.Day) de Diciembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }
                    }

                    @if (dia.ToString() == "Thursday")
                    {

                        if (mes.ToString() == "1")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Enero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "2")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Febrero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "3")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Marzo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "4")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Abril de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "5")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Mayo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "6")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Junio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "7")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Julio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "8")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Agosto de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "9")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Septiembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "10")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Octubre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "11")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Noviembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "12")
                        {
                            <h5 class="text-muted"> Jueves  @Html.DisplayFor(model => model.FechaInicio.Day) de Diciembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }
                    }

                    @if (dia.ToString() == "Friday")
                    {

                        if (mes.ToString() == "1")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Enero de @Html.DisplayFor(model => model.FechaInicio.Year) , @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "2")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Febrero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "3")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Marzo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "4")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Abril de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "5")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Mayo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "6")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Junio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "7")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Julio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "8")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Agosto de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "9")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Septiembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "10")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Octubre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "11")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Noviembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "12")
                        {
                            <h5 class="text-muted"> Viernes  @Html.DisplayFor(model => model.FechaInicio.Day) de Diciembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }
                    }

                    @if (dia.ToString() == "Saturday")
                    {

                        if (mes.ToString() == "1")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Enero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "2")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Febrero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "3")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Marzo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "4")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Abril de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "5")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Mayo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "6")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Junio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "7")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Julio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "8")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Agosto de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "9")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Septiembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "10")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Octubre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "11")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Noviembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "12")
                        {
                            <h5 class="text-muted"> Sabado  @Html.DisplayFor(model => model.FechaInicio.Day) de Diciembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }
                    }

                    @if (dia.ToString() == "Sunday")
                    {

                        if (mes.ToString() == "1")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Enero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "2")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Febrero de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "3")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Marzo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "4")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Abril de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "5")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Mayo de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "6")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Junio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "7")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Julio de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "8")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Agosto de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "9")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Septiembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "10")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Octubre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "11")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Noviembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }

                        if (mes.ToString() == "12")
                        {
                            <h5 class="text-muted"> Domingo  @Html.DisplayFor(model => model.FechaInicio.Day) de Diciembre de @Html.DisplayFor(model => model.FechaInicio.Year), @Html.DisplayFor(model => model.HoraInicio) hs </h5>
                        }
                    }

                            <h5 class="text-muted"> @Html.DisplayFor(model => model.Lugar), @Html.DisplayFor(model => model.Calle) @Html.DisplayFor(model => model.Numero),  @Html.DisplayFor(model => model.CiudadStr), @Html.DisplayFor(model => model.ProvinciaStr) </h5>

                </div>
            </div>

        </div>


        <div class="col-md-6">

            <br />

            @{ var eventoId = Model.Id; }

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Entradas</strong></h3>
                </div>
                <div class="panel-body">

                    <a href="#myModal" class="btnNuevoEntrada btn-primary btn-sm" data-toggle="modal" data-id="@Model.Id">Crear Entrada</a>
                    <br />
                    <br />

                    <table class="table">

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EntradaTitulo.Nombre)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.EntradaTitulo.CantidadStr)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.EntradaTitulo.Precio)
                            </th>
                        </tr>

                        @for (int i = 0; i < Model.Entradas.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Entradas[i].Nombre)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => Model.Entradas[i].CantidadStr)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => Model.Entradas[i].PrecioStr)
                                </td>

                                <td>

                                    @if (Model.Entradas[i].CantVendida == 0)
                                    {
                                     <a href="#myModal" class="btnEditarEntrada btn-warning btn-sm" x data-toggle="modal" data-id="@Model.Entradas[i].Id">Editar</a>
                                     <a href="#myModal" class="btnEliminarEntrada btn-danger btn-sm" x data-toggle="modal" data-id="@Model.Entradas[i].Id">Eliminar</a>
                                    }

                                    <a href="#myModal" class="btnDetalleEntrada btn-info btn-sm" x data-toggle="modal" data-id="@Model.Entradas[i].Id">Detalles</a>

                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>

            <h5 class="text-muted">* Una vez que se venda 1 entrada de cualquier tipo no se podran realizar modificaciones en el evento de ningun tipo, solo se podra eliminar 1 entrada si no se vendio ninguna de ese tipo.</h5>

        </div>

        <div class="col-md-3">

            <br />

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Orador</strong></h3>
                </div>
                <div class="panel-body">
                    <table class="table">

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Orador.ApyNom)

                            <td>

                                @foreach (var item in Model.Entradas)
                                 {
                                     if (item.CantVendida > 0)
                                     {
                                         numero = 1;
                                     }
                                 }

                                @if (numero == 0)
                                 {
                                     <a href="#myModal" class="btnCambiar btn-warning btn-sm" x data-toggle="modal" data-id="@Model.Id">Cambiar</a>
                                 }
                                 
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Organizador</strong></h3>
                </div>
                <div class="panel-body">
                    <table class="table">

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Organizador.ApyNom)
                            </td>

                            <td>

                                @if (numero == 0)
                                {
                                    <a href="#myModal" class="btnCambiarOrganizador btn-warning btn-sm" x data-toggle="modal" data-id="@Model.Id">Cambiar</a>
                                }

                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Volver", "MisEventos", new { usuarioNombre = HttpContext.Current.User.Identity.Name }, new { @class = "btn btn-primary " })
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-content">
                    cargando...
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Modal/Orador.js"></script>
    <script src="~/Scripts/Modal/Entrada.js"></script>
    <script src="~/Scripts/Modal/Organizador.js"></script>
}




