﻿@model MVC.Models.Evento.EventoVm

@{
    ViewBag.Title = "DetalleEventoIndex";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link href="~/Content/Estilos/DetalleEventoEstilos.css" rel="stylesheet" id="bootstrap-css" />


<div class="container table-bordered">
    <div class="row">
        <div class="col-md-8">
            <img class="img-rounded" src=@Url.Content(Model.Imagen) style="width: 100%;">
        </div>
        <div class="col-md-4">
            <h3><small class="text-muted">@Html.DisplayFor(model => Model.FechaInicio)</small></h3>

            <h1>@Html.DisplayFor(model => model.Nombre)</h1>

            <span id="cantEntradas" hidden>
                ViewBag.Entrada;
            </span>

            <div class="Orador">

                <a href="#myModal" class="btnDetalleOrganizador" style="color:blue" data-toggle="modal" data-id="@Model.OrganizadorId ">por @Model.OrganizadorStr</a>
            </div>

        </div>
    </div>

    <br />

    <div class="row entrada">

        <div class="col-md-4 col-md-offset-8">

            <a id="boton" href="#myModal" class="btnEntrada btn btn-success btn-lg btn-block" data-toggle="modal" data-id="@Model.Id ">Entradas</a>

        </div>

    </div>

    <br />

    <div class="row">

        <br />

        <div class="col-md-8">
            <h4 class="title">@Html.DisplayNameFor(model => model.Descripcion)</h4>

            <p>@Html.DisplayFor(model => model.Descripcion)</p>

            <br />

            <h4>@Html.DisplayNameFor(model => model.CategoriaStr)</h4>

            <p>@Html.DisplayFor(model => model.CategoriaStr)</p>

        </div>

        <div class="col-md-4">

            <h4>@Html.DisplayNameFor(model => model.FechaInicio)</h4>

            <p>@Html.DisplayFor(model => model.FechaInicio)</p>

            <h4>@Html.DisplayNameFor(model => model.FechaFin)</h4>

            <small class="text-muted">@Html.DisplayFor(model => model.FechaFin)</small>
        </div>


    </div>

</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Selecciona Entrada</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    cargando...
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    cargando...
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var entradas = @Html.Raw(ViewBag.EntradasCreadas)
    var cantEntradas = @Html.Raw(ViewBag.CantidadEntradas)
    var fechaActual = @Html.Raw(ViewBag.FechaActual)

    if (entradas == 0) {
        $("#boton").prop("disabled", true);
        $("#boton").text("¡Sin Entradas!");
        $("#boton").css({ "background": "#c40303" })
    }

    else {

        @*if (entradas == 1) {

            var fechaFinalizacion = @Html.Raw(ViewBag.FechaFinalizacion)

            if (fechaActual > fechaFinalizacion) {
                $("#boton").prop("disabled", true);
                $("#boton").text("¡Ventas Finalizadas!");
                $("#boton").css({ "background": "#c40303" })
            }

            if (cantEntradas == 0) {
                $("#boton").prop("disabled", true);
                $("#boton").text("¡Entradas Agotadas!");
                $("#boton").css({ "background": "#c40303" })
            }

        }*@

        if (cantEntradas == 0) {
            $("#boton").prop("disabled", true);
            $("#boton").text("¡Entradas Agotadas!");
            $("#boton").css({ "background": "#c40303" })
        }

    }
    
</script>

@section Scripts{
    <script src="~/Scripts/Modal/Entrada.js"></script>
    <script src="~/Scripts/Modal/Organizador.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

