﻿@model IEnumerable<MVC.Models.Evento.EventoVm>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Estilos/Reportes.css" rel="stylesheet" />

<h2 class="titulo">Lista de Eventos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizadorStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OradorStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinciaStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiudadStr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Imagen))
            {
                <img src="@Url.Content(item.Imagen)" alt=" Image" style="width: 100px;height: 100px;max-width: 100%; height:auto;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Referencias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizadorStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OradorStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinciaStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CiudadStr)
        </td>
        
    </tr>
}

</table>
