﻿@model MVC.Models.Evento.EventoVm


<div class="container">

    <div class="col-md-8">
        <div class="row">
            <h2>
                @Html.DisplayFor(model => Model.Nombre)
            </h2>
            @Html.ActionLink("por " + Model.OrganizadorStr, "Details", new { id = Model.OrganizadorId })
        </div>

    </div>
    <div class="col-md-4">

    </div>

    <div class="row">

        <div class="col-md-8">
            <h2>

                @Html.DisplayFor(model => Model.Nombre)

            </h2>

            <h3>

                @Html.DisplayFor(model => Model.Organizador.ApyNom)

                @Html.DisplayFor(model => Model.FechaInicio)

                @Html.DisplayFor(model => Model.CiudadStr) 


            </h3>
           
        </div>

    </div>
</div>

