﻿@model IEnumerable<IServicio.Oyente.Dto.OyenteDto>

@{

    ViewBag.Title = "GenerarEntradas";

    Layout = null;
}

@Styles.Render("~/Content/css")

<link href="~/Content/Estilos/FooterCompra.css" rel="stylesheet" id="bootstrap-css" />
<link href="~/Content/Estilos/Ticket.css" rel="stylesheet" />


@foreach (var item in Model)
{
    <div class="main-content">

        <div class="ticket">

            <div class="ticket__main">

                <div class="header">@item.Evento.Nombre</div>

                <div class="info passenger">

                    @{var concat = string.Format("{0} {1}", item.Nombre, item.Apellido); }

                    <div class="info__item">Oyente</div>
                    <div class="info__detail">@concat</div>

                </div>

                <div class="info departure">

                    <div class="info__item">Orador</div>
                    <div class="info__detail">@item.Evento.OradorStr</div>

                </div>
                <div class="info arrival">

                    <div class="info__item">Organizador</div>
                    <div class="info__detail">@item.Evento.OrganizadorStr</div>

                </div>

                <div class="info date">

                    <div class="info__item">Inicio</div>
                    <div class="info__detail">@item.Evento.FechaInicio.ToShortDateString()</div>

                    <div class="info__item">Fin</div>
                    <div class="info__detail">@item.Evento.FechaFin.ToShortDateString()</div>

                </div>

                <div class="info time">

                    <div class="info__item">Hora Inicio</div>
                    <div class="info__detail">@item.Evento.HoraInicio.ToShortTimeString()</div>

                    <div class="info__item">Hora Fin</div>
                    <div class="info__detail">@item.Evento.HoraFin.ToShortTimeString()</div>

                </div>

                <div class="info entrada">

                    <div class="info__item">Entrada</div>
                    <div class="info__detail">@item.Entrada.Nombre</div>

                </div>

                <div class="info numeroEntrada">

                    <div class="info__item">Numero</div>
                    <div class="info__detail">@item.CodigoInscripcion</div>

                </div>

                <div class="info carriage">

                    <div class="info__item">Tipo</div>
                    <div class="info__detail">@item.Entrada.TipoEntrada</div>

                </div>

                @if (item.Entrada.TipoEntrada == "Paga")
                {
                    <div class="info seat">
                        <div class="info__item">Precio</div>
                        <div class="info__detail">@item.Entrada.Precio</div>

                    </div>
                }



                <div class="fineprint">

                    <p>Esta entrada es de uso unico y personal por el Oyente que figura impreso en el ticket.</p>
                    <p>Esta entrada no tiene devolucion • Event Manager®</p>

                </div>

                <div class="snack">
                    <svg viewBox="0 -11 414.00053 414">
                        <path d="m202.480469 352.128906c0-21.796875-17.671875-39.46875-39.46875-39.46875-21.800781 0-39.472657 17.667969-39.472657 39.46875 0 21.800782 17.671876 39.472656 39.472657 39.472656 21.785156-.023437 39.445312-17.683593 39.46875-39.472656zm0 0"></path>
                        <path d="m348.445312 348.242188c2.148438 21.691406-13.695312 41.019531-35.390624 43.167968-21.691407 2.148438-41.015626-13.699218-43.164063-35.390625-2.148437-21.691406 13.695313-41.019531 35.386719-43.167969 21.691406-2.148437 41.019531 13.699219 43.167968 35.390626zm0 0"></path>
                        <path d="m412.699219 63.554688c-1.3125-1.84375-3.433594-2.941407-5.699219-2.941407h-311.386719l-3.914062-24.742187c-3.191407-20.703125-21.050781-35.9531252-42-35.871094h-42.699219c-3.867188 0-7 3.132812-7 7s3.132812 7 7 7h42.699219c14.050781-.054688 26.03125 10.175781 28.171875 24.0625l33.800781 213.515625c3.191406 20.703125 21.050781 35.957031 42 35.871094h208.929687c3.863282 0 7-3.132813 7-7 0-3.863281-3.136718-7-7-7h-208.929687c-14.050781.054687-26.03125-10.175781-28.171875-24.0625l-5.746094-36.300781h213.980469c18.117187-.007813 34.242187-11.484376 40.179687-28.597657l39.699219-114.578125c.742188-2.140625.402344-4.511718-.914062-6.355468zm0 0"></path>
                    </svg>

                </div>

                <div class="barcode">

                    <div class="barcode__scan"></div>
                    <div class="barcode__id">001256733</div>

                </div>

            </div>

            <div class="ticket__side">

                <div class="logo">

                    <p>@item.Evento.Nombre</p>

                </div>

                <div class="info side-arrive">

                    <div class="info__item">Orador</div>
                    <div class="info__detail">@item.Evento.OradorStr</div>

                </div>

                <div class="info side-depart">

                    <div class="info__item">Organizador</div>
                    <div class="info__detail">@item.Evento.OrganizadorStr</div>

                </div>

                <div class="info side-date">
                    <div class="info__item">Fecha</div>
                    <div class="info__detail">@item.Evento.FechaInicio.ToShortDateString()</div>

                </div>

                <div class="info side-time">
                    <div class="info__item">Hora</div>
                    <div class="info__detail">@item.Evento.HoraInicio.ToShortTimeString()</div>

                </div>

                <div class="barcode">

                    <div class="barcode__scan"></div>
                    <div class="barcode__id">001256733</div>

                </div>

            </div>
        </div>
    </div>

}

<br />

<div class="container">

        @Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "button" })
</div>




<footer>
    <div class="footerMio">

        <div class="row redes-socialesMias justify-content-center" id="sec-contacto">
            <div class="row tituloFilaMia">
                <div class="col-md-12">
                    <h4 class="tituloMio">Contacto</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <p class="contactoMio">Telefono: (0381) 155556397</p>
                </div>
                <div class="col-md-4">
                    <p class="contactoMio">Direccion: Av Belgrano 3200 - Tucuman</p>
                </div>
                <div class="col-md-3">
                    <p class="contactoMio">Correo: <a style="color:#cbcbcb" href="#">EventManager@gmail.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="col-md-2 col-md-offset-4">
                        <a href="#" class="iconoMio icon-facebook facebook"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="iconoMio icon-twitter twitter"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="iconoMio icon-instagram instagram"></a>
                    </div>
                </div>
            </div>
            <br />
            <div class="row" id="col">
                <div class="col-12 col-md-12">
                    <div class="col-md-7 col-md-offset-1">
                        <p class="Version">EventManager © 2020 Todos los derechos reservados</p>
                    </div>
                    <div class="col-md-4 ">
                        <p class="Version">Version: 1.0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



@section Scripts {
    @Scripts.Render("~/bundles/modernizr")
}


