﻿@model MVC.Models.Entrada.EntradaVm

@{
    Layout = null;
}

<h2>Crear</h2>

@using (Html.BeginForm("Create", "Entradas", new { EventoId = Model.EventoId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Entrada</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoEntrada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoEntrada, new SelectList(ViewBag.TipoEntradaId, "Value", "Text")
             , "Seleccione Tipo de Entrada", new { @class = "form -control", required = "required" })
                @Html.ValidationMessageFor(model => model.TipoEntrada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaInicioVenta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaInicioVenta, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.FechaInicioVenta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaFinVenta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaFinVenta, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.FechaFinVenta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal" , id="Contenedor">

            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*<input inputmode="numeric" id="Precio" value="0,00"><br>*@

                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CantidadMaximaPorCompra, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CantidadMaximaPorCompra, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.CantidadMaximaPorCompra, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CanalDeVentas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CanalDeVentas, new SelectList(ViewBag.CanalventaId, "Value", "Text"), "Seleccione una Canal de Venta", new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.CanalDeVentas, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" id="acept" />

                @Html.ActionLink("Cancelar", "AdministrarEvento", "Evento", new { id = Model.EventoId }, new { @class = "btn btn-danger" })

            </div>
        </div>


    </div>

}

<script src="~/Scripts/simple-mask-money.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        /////////////////
       /////Precio//////
      ////////////////

        // configuration
        const options = {

            prefix: '',
            suffix: '',
            fixed: true,
            fractionDigits: 2,
            decimalSeparator: ',',
            thousandsSeparator: '.',
            emptyOrInvalid: () => {
                return this.SimpleMaskMoney.args.fixed
                    ? `0${this.SimpleMaskMoney.args.decimalSeparator}00`
                    : `_${this.SimpleMaskMoney.args.decimalSeparator}__`;
            }
        }

        // set mask on your input you can pass a querySelector or your input element and options
        let input = SimpleMaskMoney.setMask('#Precio', options);

        // Your send method
        send = (e) => {
            if (e.key !== 'Enter') return;
            // This method return value of your input in format number to save in your database
            console.log(input.formatToNumber());
        }

        $("#Cantidad").val(1);
        $("#CantidadMaximaPorCompra").val(1);

        ////////////////////////////
        ////////Fecha Actual/////////
        ////////////////////////////

        n = new Date();
        //Año
        y = n.getFullYear();
        //Mes
        m = n.getMonth() + 1;
        //Día
        d = n.getDate();

        if (d < 10)
            d = '0' + d; //agrega cero si el menor de 10
        if (m < 10)
            m = '0' + m //agrega cero si el menor de 10

        var fechaActual = y + "-" + m + "-" + d;



        ////////////////////////////
        ///Validaciones Entradas////
        ////////////////////////////

        $("#Nombre").blur(function () {

            $("#Nombre").val($.trim($("#Nombre").val()));

        });

        $("#Descripcion").blur(function () {

            $("#Descripcion").val($.trim($("#Descripcion").val()));

        });

        $('#Precio').keypress(function (e) {

            if (this.value.length === 7) return false;
        });

        $('#Cantidad').keypress(function (e) {

            if ((e.keyCode < 48 || e.keyCode > 57) || this.value.length === 3) return false;
        })

        $("#Cantidad").change(function () {

            var cantidad = $(this).val();
            var cantMaxima = $("#CantidadMaximaPorCompra").val();


            if (cantidad <= 0) {
                alert("El valor no puede ser negativo");
                $("#Cantidad").val(1);
            }

            if (cantidad < cantMaxima) {
                alert("La cantidad (" + cantidad + ") no puede ser menor al Maximo por Compra (" + cantMaxima + ")");

                $("#Cantidad").val(cantMaxima);
            }

            if (cantidad > 999) {
                alert("El valor no puede superar los 999");
                $("#Cantidad").val(999);
            }
        })

        $('#CantidadMaximaPorCompra').keypress(function (e) {

            if ((e.keyCode < 48 || e.keyCode > 57) || this.value.length === 3) return false;
        });

        $("#CantidadMaximaPorCompra").change(function () {
            var cantMaxima = $(this).val();
            var cantidad = $("#Cantidad").val();

            if (cantMaxima <= 0) {
                alert("El valor no puede ser negativo");
                $("#CantidadMaximaPorCompra").val(1);
            }

            if (cantMaxima > cantidad) {
                alert("La cantidad (" + cantidad + ") no puede ser menor al Maximo por Compra (" + cantMaxima + ")");

                $("#CantidadMaximaPorCompra").val(cantidad);
            }


            if (cantMaxima > 999) {
                alert("El valor no puede superar los 999");
                $("#CantidadMaximaPorCompra").val(999);
            }
        })

        $("#FechaInicioVenta").keypress(function (e) {

            if ((event.which < 97 || event.which > 122) && (event.which < 65 || event.which > 90)) {
                return false;
            }

        });

        $("#FechaInicioVenta").change(function () {

            var fechaInicio = $(this).val();

            var fechaFin = $("#FechaFinVenta").val();

            if ($("#FechaFinVenta").val().length >= 1) {

                if (fechaInicio < fechaActual) {

                    if (fechaInicio > fechaFin) {

                        alert("La fecha de inicio (" + fechaInicio + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                        $("#FechaInicioVenta").val(fechaActual);
                        $("#FechaFinVenta").val(fechaActual);

                    }

                    else {

                        if (fechaFin < fechaActual) {

                            alert("La fecha de inicio (" + fechaInicio + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                            $("#FechaInicioVenta").val(fechaActual);
                            $("#FechaFinVenta").val(fechaActual);
                        }

                        else {

                            alert("La fecha de inicio (" + fechaInicio + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                            $("#FechaInicioVenta").val(fechaActual);
                        }

                    }

                }

                else {

                    if (fechaInicio > fechaFin) {

                        if (fechaFin < fechaActual) {

                            alert("La fecha de inicio (" + fechaInicio + ") no puede ser despues de la fecha de finalizacion (" + fechaFin + ")")

                            $("#FechaFinVenta").val(fechaInicio);
                        }

                        else {

                            alert("La fecha de inicio (" + fechaInicio + ") no puede ser despues de la fecha de finalizacion (" + fechaFin + ")")

                            $("#FechaInicioVenta").val(fechaFin);
                        }
                    }

                }


            }
        })

        $("#FechaFinVenta").keypress(function (e) {

            if ((event.which < 97 || event.which > 122) && (event.which < 65 || event.which > 90)) {
                return false;
            }

        });

        $("#FechaFinVenta").change(function () {

            var fechaFin = $(this).val();
            var fechaInicio = $("#FechaInicioVenta").val();

            if (fechaFin < fechaActual) {

                if (fechaFin < fechaInicio) {

                    if (fechaInicio > fechaActual) {

                        alert("La fecha de finalizacion (" + fechaFin + ") no puede ser antes de la fecha de Inicio (" + fechaInicio + ")")

                        $("#FechaFinVenta").val(fechaInicio);
                    }

                    else {

                        alert("La fecha de finalizacion (" + fechaFin + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                        $("#FechaInicioVenta").val(fechaActual);
                        $("#FechaFinVenta").val(fechaActual);
                    }
                }

                else {

                    alert("La fecha de finalizacion (" + fechaFin + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                    $("#FechaInicioVenta").val(fechaActual);
                    $("#FechaFinVenta").val(fechaActual);

                }

            }

            else {

                if (fechaFin < fechaInicio) {

                    alert("La fecha de finalizacion (" + fechaFin + ") no puede ser antes de la fecha de inicio (" + fechaInicio + ")")

                    $("#FechaFinVenta").val(fechaInicio);

                }

                else {

                    if (fechaInicio < fechaActual) {

                        alert("La fecha de inicio (" + fechaInicio + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                        $("#FechaInicioVenta").val(fechaActual);
                    }

                }

            }

        })
        ///////////////////////////

        var valor = $("#TipoEntrada").val();

        if (valor == "Gratuita") {
            $('#Contenedor').hide();
            $('#Precio').val(0);
            $('#CantidadMaximaPorCompra').val(1);
        }
        else {
            $('#Contenedor').show();
        }

        $('#TipoEntrada').change(function () {
            var selectedValue = $(this).val();
            console.log("click");


            if (selectedValue == "Gratuita") {
                $('#Contenedor').hide();
                $('#Precio').val("0,00");
                $('#CantidadMaximaPorCompra').val(1);

            }

            if (selectedValue == "Paga") {

                $('#Contenedor').show();
            }

        });

        $("#acept").click(function () {

            var fechaFin = $("#FechaFinVenta").val();
            var fechaInicio = $("#FechaInicioVenta").val();

            if (fechaInicio > fechaFin) {

                if (fechaInicio < fechaActual) {

                    alert("La fecha de inicio (" + fechaInicio + ") no puede ser despues de la fecha de finalizacion (" + fechaFin + ")")

                    $("#FechaInicioVenta").val(fechaActual);
                    $("#FechaFinVenta").val(fechaActual);
                    return false;
                }

                else {

                    if (fechaFin < fechaActual) {

                        alert("La fecha de inicio (" + fechaInicio + ") no puede ser despues de la fecha de finalizacion (" + fechaFin + ")")

                        $("#FechaInicioVenta").val(fechaActual);
                        $("#FechaFinVenta").val(fechaActual);
                        return false;

                    }

                    else {

                        alert("La fecha de inicio (" + fechaInicio + ") no puede ser despues de la fecha de finalizacion (" + fechaFin + ")")

                        $("#FechaInicioVenta").val(fechaFin);
                        return false;
                    }


                }

            }

            else {

                if (fechaFin < fechaActual) {

                    alert("Las fechas no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                    $("#FechaInicioVenta").val(fechaActual);
                    $("#FechaFinVenta").val(fechaActual);
                    return false;

                }

                else {

                    if (fechaInicio < fechaActual) {

                        alert("Las fecha de inicio (" + fechaInicio + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                        $("#FechaInicioVenta").val(fechaActual);
                        $("#FechaFinVenta").val(fechaActual);
                        return false;
                    }
                }
            }

            if ($("#TipoEntrada").val() == "Paga") {

                var precio = $("#Precio").val()


                if (precio == "0,00") {
                    alert("El precio no puede ser 0")

                    return false;
                }

            }

        });
    });


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
