﻿@model MVC.Models.Entrada.EntradaVm

@{
    Layout = null;
}

<h3>Seguro desea eliminar esta Entrada?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEntrada)
        </dd>

        @if (Model.TipoEntrada == "Paga")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaInicioVenta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaInicioVenta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaFinVenta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaFinVenta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CantidadMaximaPorCompra)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CantidadMaximaPorCompra)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.CanalDeVentas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanalDeVentas)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">

            <input type="submit" value="Eliminar" class="btn btn-danger" />

            @Html.ActionLink("Cancelar", "AdministrarEvento", "Evento", new { id = Model.EventoId }, new { @class = "btn btn-info" })
        </div>
    }
</div>
