﻿#col {
    background-color: rgba(4, 190, 100, 0.86);
}

.redes-socialesMias {
    padding: 0;
    margin-bottom: 40px;
    padding-top: 20px;
}
    .redes-socialesMias .tituloFilaMia{
        text-align:center;
    }
    .redes-socialesMias .tituloMio {
        color: #005385;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .redes-socialesMias .contactoMio {
        letter-spacing: 1px;
        color: #9c9696;
    }

    .redes-socialesMias .Version {
        letter-spacing: 1px;
        color: #fff;
    }

    .redes-socialesMias .iconoMio {
        width: 60px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        text-align: center;
        color: #fff;
        background: #cbcbcb;
        display: inline-block;
        margin: 0px 5px;
        text-decoration: none;
        border-radius: 100px;
        transition: all .3s ease;
    }

    .redes-socialesMias .facebook {
        background: #3b5998;
        opacity: .3;
    }

    .redes-socialesMias .instagram {
        background: #833ab4;
        opacity: .3;
    }

    .redes-socialesMias .twitter {
        background: #1da1f2;
        opacity: .3;
    }

    .redes-socialesMias a:hover {
        opacity: 1;
    }

/*------Mediaqueries------*/
/*Dispositivos xl*/
@media screen and (max-width: 1199px) {
}
/*Dispositivos lg*/
@media screen and (max-width: 991px) {
}
/*Dispostivos md*/
@media screen and (max-width: 767px) {
}
/*Dispositivos sm*/
@media screen and (max-width: 575px) {
    .redes-socialesMias {
        text-align: center;
        border-top: 1px solid #3da5e2;
    }

        .redes-socialesMias .iconoMio {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
        }
}