﻿
/* Table 1 Style */
/*table.table {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse: separate;
}

.table thead th {
    padding: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    border: 1px solid #93CE37;
    border-bottom: 3px solid #9ED929;
    background-color: #9DD929;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(123,192,67)), color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(158,217,41)) );
    background: -moz-linear-gradient( center bottom, rgb(123,192,67) 2%, rgb(139,198,66) 51%, rgb(158,217,41) 87% );
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .table thead th:empty {
        background: transparent;
        border: none;
    }

.table tbody th {
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    background-color: #9DD929;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    padding: 0px 10px;
    background: -webkit-gradient( linear, left bottom, right top, color-stop(0.02, rgb(158,217,41)), color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(123,192,67)) );
    background: -moz-linear-gradient( left bottom, rgb(158,217,41) 2%, rgb(139,198,66) 51%, rgb(123,192,67) 87% );
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table1 tfoot td {
    color: #9CD009;
    font-size: 32px;
    text-align: center;
    padding: 10px 0px;
    text-shadow: 1px 1px 1px #444;
}

.table tfoot th {
    color: #666;
}

.table tbody td {
    padding: 10px;
    text-align: center;
    background-color: #DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
}

.table tbody span.check::before {
    content: url(../images/check0.png)
}*/
/* Table 2 Style */
/*table.table {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse: collapse;
    text-align: center;
}

.table thead th, .table tfoot td {
    padding: 20px 10px 40px 10px;
    color: #fff;
    font-size: 26px;
    background-color: #222;
    font-weight: normal;
    border-right: 1px dotted #666;
    border-top: 3px solid #666;
    -moz-box-shadow: 0px -1px 4px #000;
    -webkit-box-shadow: 0px -1px 4px #000;
    box-shadow: 0px -1px 4px #000;
    text-shadow: 1px 1px 1px #000;
}

.table tfoot th {
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #888;
}

.table tfoot td {
    font-size: 36px;
    color: #EF870E;
    border-top: none;
    border-bottom: 3px solid #666;
    -moz-box-shadow: 0px 1px 4px #000;
    -webkit-box-shadow: 0px 1px 4px #000;
    box-shadow: 0px 1px 4px #000;
}

.table thead th:empty {
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table thead :nth-last-child(1) {
    border-right: none;
}

.table thead :first-child,
.table tbody :nth-last-child(1) {
    border: none;
}

.table tbody th {
    text-align: right;
    padding: 10px;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
    background-color: #f9f9f9;
}

.table tbody td {
    padding: 10px;
    background-color: #f0f0f0;
    border-right: 1px dotted #999;
    text-shadow: -1px 1px 1px #fff;
    text-transform: uppercase;
    color: #333;
}

.table tbody span.check::before {
    content: url(../images/check1.png)
}*/

/* Table 3 Style */
/*table.table {
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align: center;
    border-collapse: collapse;
}

.table thead th {
    padding: 6px 10px;
    text-transform: uppercase;
    color: #444;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    border-bottom: 5px solid #444;
}

    .table thead th:empty {
        background: transparent;
        border: none;
    }

.table thead :nth-child(2),
.table tfoot :nth-child(2) {
    background-color: #7FD2FF;
}

.table tfoot :nth-child(2) {
    -moz-border-radius: 0px 0px 0px 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table thead :nth-child(2) {
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.table thead :nth-child(3),
.table tfoot :nth-child(3) {
    background-color: #45A8DF;
}

.table thead :nth-child(4),
.table tfoot :nth-child(4) {
    background-color: #2388BF;
}

.table thead :nth-child(5),
.table tfoot :nth-child(5) {
    background-color: #096A9F;
}

.table thead :nth-child(5) {
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.table tfoot :nth-child(5) {
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table tfoot td {
    font-size: 38px;
    font-weight: bold;
    padding: 15px 0px;
    text-shadow: 1px 1px 1px #fff;
}

.table tbody td {
    padding: 10px;
}

.table tbody tr:nth-child(4) td {
    font-size: 26px;
    font-weight: bold;
}

.table tbody td:nth-child(even) {
    background-color: #444;
    color: #444;
    border-bottom: 1px solid #444;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.39, rgb(189,189,189)), color-stop(0.7, rgb(224,224,224)) );
    background: -moz-linear-gradient( center bottom, rgb(189,189,189) 39%, rgb(224,224,224) 70% );
    text-shadow: 1px 1px 1px #fff;
}

.table tbody td:nth-child(odd) {
    background-color: #555;
    color: #f0f0f0;
    border-bottom: 1px solid #444;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.39, rgb(85,85,85)), color-stop(0.7, rgb(105,105,105)) );
    background: -moz-linear-gradient( center bottom, rgb(85,85,85) 39%, rgb(105,105,105) 70% );
    text-shadow: 1px 1px 1px #000;
}

.table tbody td:nth-last-child(1) {
    border-right: 1px solid #222;
}

.table tbody th {
    color: #696969;
    text-align: right;
    padding: 0px 10px;
    border-right: 1px solid #aaa;
}

.table tbody span.check::before {
    content: url(../images/check2.png)
}*/

* {
    margin: 0;
    padding: 0;
}
h2 {
    text-align:center; 
    font: bold 20px arial, verdana;
}

body {
    font: 14px/1.4 Georgia, Serif;
}

#page-wrap {
    margin: 50px;
}

p {
    margin: 20px 0;
}

/* 
	Generic Styling, for Desktops/Laptops 
	*/
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: rgba(4, 190, 100, 0.86);
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

/*a {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}*/