﻿@model MVC.Models.Categoria_EventoVm

@{
    ViewBag.Title = "Editar";
    Layout = null;
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <h4>Categoria</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Estado)
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-success" />

                @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

    <script type="text/javascript">

        $(document).ready(function () {

            $("#Descripcion").blur(function () {

                $("#Descripcion").val($.trim($("#Descripcion").val()));

            });

            $("#Descripcion").keypress(function (e) {

                if ((e.charCode < 97 || e.charCode > 122) && (e.charCode < 65 || e.charCode > 90) && (e.charCode != 32)) return false;
            });
        });

    </script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
