﻿@using MVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
<link rel="stylesheet" href="~/Content/Estilos/Login.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


<div class="container">
    <div class="row text-center login-page">
        <div class="col-md-12 login-form">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12 login-form-header">
                            <p class="login-form-font-header">Event<span>Manager</span><p>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger, text-center" })
                    <div class="row">
                        <div class="col-md-12 login-from-row">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Usuario" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 login-from-row">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, null, new { @style = "color:blue;"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 login-from-row">
                            <input type="submit" value="Iniciar sesión" class="btn btn-lg btn-success btn-block" />
                        </div>
                    </div>

                }
            </section>
            <div class="row">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#Email").blur(function () {

            $("#Email").val($.trim($("#Email").val()));

        });
    });

    $(document).ready(function () {

        $("#Password").blur(function () {

            $("#Password").val($.trim($("#Password").val()));

        });
    });

    

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}