﻿@model IEnumerable<MVC.Models.OrganizadorVm>

@{
    Layout = null;
}
<link rel="stylesheet" href="~/Content/Estilos/Reportes.css" />

<h2>Lista de Organizadores</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Legajo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinciaStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiudadStr)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Legajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td style="color:@(item.Estado == true ? "blue" : "red" );">
                <b>@Html.DisplayFor(modelItem => item.EstadoStr)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinciaStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiudadStr)
            </td>
        </tr>
    }

</table>
