﻿
@{
    ViewBag.Title = "CompraRealizada";
    Layout = null;
    var Nombre = ViewBag.Nombre;
}



@Styles.Render("~/Content/css")

<link href="~/Content/Estilos/CompraRealizada.css" rel="stylesheet" />
<link href="~/Content/Estilos/FooterCompra.css" rel="stylesheet" id="bootstrap-css" />


<div class="background"></div>
<div class="container">
    <div class="row">
        <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
            <div class="icon">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
            <!--/.icon-->
            <h1>Excelente!</h1>
            <p>
                En hora Buena @Nombre has realizado la Operacion con Exito.
                <br>Continua para ver tus Entradas.
            </p>

            <div class="redobtn">

                @Html.ActionLink("Ver Entradas", "GenerarEntradas", "Oyente", null, new { @class = "btn" })

            </div>

            <span class="change">-- Click Para ver Entradas --</span>
        </div>
        <!--/.success-->
    </div>
</div>
<!--/.container-->

<footer>
    <div class="footerMio">

        <div class="row redes-socialesMias justify-content-center" id="sec-contacto">
            <div class="row tituloFilaMia">
                <div class="col-md-12">
                    <h4 class="tituloMio">Contacto</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <p class="contactoMio">Telefono: (0381) 155556397</p>
                </div>
                <div class="col-md-4">
                    <p class="contactoMio">Direccion: Av Belgrano 3200 - Tucuman</p>
                </div>
                <div class="col-md-3">
                    <p class="contactoMio">Correo: <a style="color:#cbcbcb" href="#">EventManager@gmail.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="col-md-2 col-md-offset-4">
                        <a href="#" class="iconoMio icon-facebook facebook"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="iconoMio icon-twitter twitter"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="iconoMio icon-instagram instagram"></a>
                    </div>
                </div>
            </div>
            <br />
            <div class="row" id="col">
                <div class="col-12 col-md-12">
                    <div class="col-md-5 col-md-offset-3">
                        <p class="Version">EventManager © 2020 Todos los derechos reservados</p>
                    </div>
                    <div class="col-md-4">
                        <p class="Version">Version: 1.0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
}
