﻿@model IEnumerable<MVC.Models.Evento.EventoVm>

@{
    ViewBag.Title = "Home Page";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link href="~/Content/Estilos/CarruselFade.less" rel="stylesheet" id="bootstrap-css"/>

    <div class="container-fluid">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicadores-->
                <ol class="carousel-indicators">
                    @{ int ol = 0; }
                    @foreach (var item in Model)
                    {
                        var olDinamico = ol++ == 0 ? "active" : "";

                        <li data-target="#carouselExampleIndicators" data-slide-to="@ol" class="@olDinamico"></li>
                    }
                </ol>

                <!--Imagenes-->
                <div class="carousel-inner" role="listbox" padding:20px;">
                    @{var cont = 0;}
                    @foreach (var item in Model)
                    {
                        var itemDinamico = cont++ == 0 ? "item active" : "item";

                        <div class="@itemDinamico" style="height:500px; max-height:100%;">
                            <a href=@Url.Action("DetalleEventoIndex", "Evento", new { id = item.Id})>
                                <img class="d-md-block w-100" src="@Url.Content(item.Imagen)" alt="@item.Nombre" style="border-radius: 20px;" />
                            </a>

                            <div class="carousel-caption d-none d-md-block">
                                <h2><b>@item.Nombre</b></h2>
                                <p>@item.Descripcion</p>
                            </div>
                        </div>
                    }
                </div>

                <!--Controles-->
                <a class="left carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>


    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card-deck">
                <div class="col-md-4" style="margin-top: 30px;">
                    <div class="card grow threed">
                        <a href=@Url.Action("DetalleEventoIndex", "Evento", new { id = item.Id})><img src="@Url.Content(item.Imagen)" class="card-img-top" style="width: auto; height: 300px;max-width: 100%; border-radius: 20px;"></a>
                        <div class="card-body">
                            <h5 class="card-title"><b>@Html.DisplayFor(modelItem => item.Nombre)</b></h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion).</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Fecha Incio: @Html.DisplayFor(modelItem => item.FechaInicio)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $(".carousel").carousel();
        })
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }