﻿@model IEnumerable<MVC.Models.Evento.EventoVm>

@{
    Layout = null;
}
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@
<link rel="stylesheet" href="~/Content/Estilos/Reportes.css"/>

<h2>Lista de Eventos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayName("Fecha Inicio/Fin")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>*@
        <th>
            @Html.DisplayName("Hora Inicio/Fin")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.HoraFin)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizadorStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OradorStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinciaStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiudadStr)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Imagen))
                {
                    <img src="@Url.Content(item.Imagen)" alt=" Image" style="width: 100px;height: 100px;max-width: 100%; height:auto;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>*@
            <td style="text-align:center;">
                <p>@Html.DisplayFor(modelItem => item.HoraInicio)</p>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizadorStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OradorStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinciaStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiudadStr)
            </td>

        </tr>
    }

</table>
