﻿@model MVC.Models.ProvinciaVm

@{
    Layout = null;
}

<h2>Agregar</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Provincia</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aceptar" class="btn btn-success" />

            @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#Nombre").blur(function () {

            $("#Nombre").val($.trim($("#Nombre").val()));

        });
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
