﻿@model MVC.Models.ProvinciaVm

@{
    Layout = null;
}
<h3>Seguro que desea elimnar esta Provincia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 

            @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-info"})
        </div>
    }
</div>
